- var top_15 = []
- top_15.push(["9003791","2015-02-05T15:46:51.000Z","1423151211","r0h1n","2088","propublica.org","453","Email Encryption Software Relies on One Guy Who Is Going Broken"])
- top_15.push(["8936257","2015-01-23T18:04:02.000Z","1422036242","radley","1391","zoekeating.tumblr.com","290","What should I do about YouTube?"])
- top_15.push(["8997615","2015-02-04T16:11:04.000Z","1423066264","Libertatea","1274","wired.com","418","FCC Chairman: This Is How We Will Ensure Net Neutrality"])
- top_15.push(["8878754","2015-01-13T09:01:48.000Z","1421139708","maxidog","1227","medium.com","278","Hi It’s Google Corporate Development"])
- top_15.push(["9045305","2015-02-13T16:58:36.000Z","1423846716","sagivo","1173","gizmodo.com","637","Fuck It I\'m Going Back to Firefox"])
- top_15.push(["9072424","2015-02-19T04:45:12.000Z","1424321112","cpeterso","1120","thenextweb.com","414","Lenovo Caught Installing Adware on New Computers"])
- top_15.push(["8955426","2015-01-27T20:09:22.000Z","1422389362","derpenxyne","1035","youtube-eng.blogspot.com","393","YouTube now defaults to HTML5 video"])
- top_15.push(["8924755","2015-01-21T18:55:03.000Z","1421866503","vesinisa","946","wired.com","325","Hands-On with Microsoft\'s New Holographic Goggles"])
- top_15.push(["8848182","2015-01-07T00:47:31.000Z","1420591651","stickhandle","929","intel.com","336","Intel Compute Stick"])
- top_15.push(["8863451","2015-01-09T18:15:44.000Z","1420827344","steveklabnik","894","blog.rust-lang.org","243","Announcing Rust 1.0 Alpha"])

- var top_14 = []
- top_14.push(["8532261","2014-10-30T11:12:23.000Z","1414667543","replicatorblog","3086","businessweek.com","1039","Tim Cook Speaks Up"])
- top_14.push(["7373566","2014-03-10T15:44:42Z","1394466282","frederfred","2732","gabrielecirulli.github.io","398","2048"])
- top_14.push(["8595905","2014-11-12T15:37:27.000Z","1415806647","ethomson","2376","news.microsoft.com","772","icrosoft takes .NET open source and cross-platform"])
- top_14.push(["8624160","2014-11-18T15:18:36.000Z","1416323916","mariusz79","2019","eff.org","423","Launching in 2015: A Certificate Authority to Encrypt the Entire Web"])
- top_14.push(["7216471","2014-02-11T08:12:28Z","1392106348","brokenparser","1958","thedaywefightback.org","260","Today is The Day We Fight Back"])
- top_14.push(["7884560","2014-06-12T17:02:33.000Z","1402592553","gkoberger","1855","teslamotors.com","322","All Our Patent Are Belong To You"])
- top_14.push(["7566069","2014-04-10T13:56:46Z","1397138206","PhilipA","1825","drop-dropbox.com","1045","Drop Dropbox"])
- top_14.push(["8422599","2014-10-07T17:38:45.000Z","1412703525","kevin","1715","blog.ycombinator.com","307","Hacker News API"])
- top_14.push(["7548991","2014-04-07T19:57:13Z","1396900633","tptacek","1634","heartbleed.com","537","The Heartbleed Bug"])
- top_14.push(["7211514","2014-02-10T15:26:52Z","1392046012","fanfantm","1583","youtube.com","280","Facebook Fraud [video]"])

- var top_13 = []
- top_13.push(["6258422","2013-08-22T17:10:57Z","1377191457","chimeracoder","2617","varnull.adityamukerjee.net","962","Don\'t Fly During Ramadan"])
- top_13.push(["6201586","2013-08-12T20:29:01Z","1376339341","spikels","2549","spacex.com","943","Hyperloop"])
- top_13.push(["5046845","2013-01-12T07:29:13Z","1357975753","bfaviero","2076","tech.mit.edu","564","Aaron Swartz commits suicide"])
- top_13.push(["5371725","2013-03-13T23:13:29Z","1363216409","knurdle","1926","googleblog.blogspot.com","704","Google Reader shutting down"])
- top_13.push(["5218288","2013-02-14T07:37:14Z","1360827434","reneherse","1815","teslamotors.com","581","A Most Peculiar Test Drive"])
- top_13.push(["6181081","2013-08-08T19:12:34Z","1375989154","cstuder","1747","lavabit.com","643","Lavabit abruptly shuts down"])
- top_13.push(["5215884","2013-02-13T21:47:09Z","1360792029","tomlemon","1715","rapgenius.com","426","Heroku\'s Ugly Secret: The story of how the cloud-king turned its back on Rails"])
- top_13.push(["5330998","2013-03-06T13:20:58Z","1362576058","df07","1691","bjk5.com","193","Breaking down Amazon\'s mega dropdown"])
- top_13.push(["6133349","2013-07-31T13:05:43Z","1375275943","sinak","1624","theguardian.com","625","XKeyscore: NSA program collects \'nearly everything a user does on the internet\'"])
- top_13.push(["6641378","2013-10-30T16:37:56Z","1383151076","nqureshi","1525","washingtonpost.com","597","NSA infiltrates links to Yahoo Google data centers worldwide"])

- var top_12= []
- top_12.push(["3742902","2012-03-23T00:40:39Z","1332463239","olalonde","3381","news.ycombinator.com","83","Show HN: This up votes itself"])
- top_12.push(["3491542","2012-01-20T22:38:02Z","1327099082","dzlobin","2026","ycombinator.com","673","Request for Startups: Kill Hollywood."])
- top_12.push(["3673462","2012-03-06T23:39:16Z","1331077156","zotz","1611","tsaoutofourpants.wordpress.com","332","$1B of TSA Nude Body Scanners Made Worthless By Blog"])
- top_12.push(["3836978","2012-04-13T14:52:29Z","1334328749","ibdknox","1561","chris-granger.com","300","Light Table - a new IDE concept"])
- top_12.push(["4682392","2012-10-22T09:39:35Z","1350898775","paulsilver","1426","bekkelund.net","483","Outlawed by Amazon DRM"])
- top_12.push(["3824908","2012-04-10T22:55:40Z","1334098540","geoffschmidt","1362","meteor.com","332","Show HN: Meteor a realtime JavaScript framework"])
- top_12.push(["3736037","2012-03-21T19:15:31Z","1332357331","jnoller","1335","therealkatie.net","772","Lighten up"])
- top_12.push(["4312731","2012-07-30T15:21:44Z","1343661704","petercooper","1309","facebook.com","366","Company withdrawing from Facebook as analytics show 80% of ad clicks from bots"])
- top_12.push(["3587730","2012-02-13T23:04:00Z","1329174240","smacktoward","1290","realdanlyons.com","199","Hit men click whores and paid apologists: Welcome to the Silicon Cesspool"])
- top_12.push(["3559631","2012-02-06T23:01:04Z","1328569264","dko","1212","codinghorror.com","213","Farewell Stack Exchange"])

- var top_11 = []
- top_11.push(["3078128","2011-10-05T23:42:23Z","1317858143","patricktomas","4271","apple.com","376","Steve Jobs has passed away."])
- top_11.push(["3288671","2011-11-29T02:23:06Z","1322533386","jwwest","2316","jwz.org","292","Watch a VC use my name to sell a con"])
- top_11.push(["3105526","2011-10-13T01:14:23Z","1318468463","fogus","1924","plus.google.com","204","Rob Pike: Dennis Ritchie has died"])
- top_11.push(["2555349","2011-05-17T05:09:49Z","1305608989","neopanz","1793","bellard.org","243","Boot a linux kernel right inside your browser."])
- top_11.push(["3174961","2011-10-30T18:15:52Z","1319998552","NaOH","1722","nytimes.com","128","A Sisters Eulogy for Steve Jobs"])
- top_11.push(["3383209","2011-12-22T20:53:47Z","1324587227","ericflo","1716","techcrunch.com","277","Paul Graham: SOPA Supporting Companies No Longer Allowed At YC Demo Day"])
- top_11.push(["2922756","2011-08-24T22:37:35Z","1314225455","taylorbuley","1638","finance.yahoo.com","308","Steve Jobs Resigns as CEO of Apple"])
- top_11.push(["3151233","2011-10-24T19:44:59Z","1319485499","apgwoz","1595","en.wikipedia.org","218","John McCarthy Has Died"])
- top_11.push(["3029872","2011-09-23T13:24:09Z","1316784249","numair","1368","public.numair.com","168","I was once a Facebook fool"])
- top_11.push(["3053883","2011-09-29T19:32:22Z","1317324742","pc","1236","stripe.com","350","Stripe: instant payment processing for developers"])

- var top_10 = []
- top_10.push(["2014555","2010-12-17T00:31:01Z","1292545861","jf","1277","questvisual.com","284","Introducing Word Lens"])
- top_10.push(["2003515","2010-12-14T08:15:59Z","1292314559","bjg","1257","reddit.com","208","Today you tomorrow me"])
- top_10.push(["1048800","2010-01-12T23:04:48Z","1263337488","SandB0x","1134","googleblog.blogspot.com","380","A new approach to China"])
- top_10.push(["1714377","2010-09-21T22:40:57Z","1285108857","icey","1087","techcrunch.com","235","So A Blogger Walks Into A Bar"])
- top_10.push(["1952356","2010-11-29T23:47:20Z","1291074440","shomyo","1016","translate.google.com","96","Google Beatbox"])
- top_10.push(["1304310","2010-04-29T13:26:21Z","1272547581","andrewdavey","951","apple.com","507","Thoughts on Flash"])
- top_10.push(["1571427","2010-08-03T15:14:14Z","1280848454","mrduncan","767","alexisohanian.com","87","Keep calm & carry on: What you didn\'t know about the reddit story"])
- top_10.push(["1585850","2010-08-08T18:42:29Z","1281292949","zacs","732","scribd.com","198","P ≠ NP"])
- top_10.push(["1982489","2010-12-08T11:04:31Z","1291806271","gspyrou","712","techcrunch.com","201","Salesforce Buys Heroku \(YC W08\) For $212 Million In Cash"])
- top_10.push(["1827928","2010-10-25T01:00:47Z","1287968447","cdine","708","codebutler.com","344","Firesheep: Easy HTTP session hijacking from within Firefox"])

- var top_09 = []
- top_09.push(["639976","2009-06-03T16:27:07Z","1244046427","dfranke","918","","79","How I Hacked Hacker News \(with arc security advisory\)"])
- top_09.push(["459289","2009-01-31T06:36:50Z","1233383810","pg","533","","138","New users: Welcome.  Please read the site guidelines."])
- top_09.push(["491750","2009-02-23T16:29:55Z","1235406595","arthurk","404","blog.last.fm","100","Last.fm: \'Techcrunch are full of shit\'"])
- top_09.push(["533849","2009-03-26T18:05:54Z","1238090754","ahoyhere","394","slash7.com","151","Google is Evil Worse than PayPal: Don\'t use Google Checkout for your business"])
- top_09.push(["495053","2009-02-25T22:35:36Z","1235601336","mqt","375","paulgraham.com","120","What I\'ve Learned from Hacker News"])
- top_09.push(["496946","2009-02-27T06:45:42Z","1235717142","paul","352","bret.appspot.com","86","How FriendFeed uses MySQL to store schema-less data"])
- top_09.push(["1019360","2009-12-28T20:58:02Z","1262033882","TotlolRon","347","totlol.com","119","The story of my startup \(and the Google/YouTube API trap\)"])
- top_09.push(["1011258","2009-12-23T01:16:28Z","1261530988","MartinMond","347","guardian.co.uk","189","How do I know China wrecked the Copenhagen deal? I was in the room."])
- top_09.push(["495336","2009-02-26T02:51:57Z","1235616717","pg","335","etherpad.com","126","The most surprising thing I\'ve seen in 2009 courtesy of Etherpad"])
- top_09.push(["512178","2009-03-11T18:27:59Z","1236796079","jasonlbaptiste","325","contekst.org","34","The Innards of Erlang"])

- var top_08 = []
- top_08.push(["250704","2008-07-19T16:33:35Z","1216485215","pg","530","ycombinator.com","384","Startup Ideas We\'d Like to Fund"])
- top_08.push(["334355","2008-10-16T12:08:56Z","1224158936","mqt","253","paulgraham.com","200","Why to Start a Startup in a Bad Economy"])
- top_08.push(["395330","2008-12-12T04:15:35Z","1229055335","dmoney","240","youtube.com","44","Love Internet Style"])
- top_08.push(["106398","2008-01-29T21:00:46Z","1201640446","pg","239","paulgraham.com","124","Arc\'s Out"])
- top_08.push(["141898","2008-03-20T20:20:06Z","1206044406","dfranke","237","paulgraham.com","300","You weren\'t meant to have a boss"])
- top_08.push(["412785","2008-12-29T08:19:46Z","1230538786","jmtame","231","","101","Wow check out this guy\'s comment"])
- top_08.push(["310056","2008-09-20T20:29:49Z","1221942589","eru","227","fourmilab.ch","56","Golden Rules for Making Money by P. T. Barnum \(1880\)"])
- top_08.push(["205918","2008-06-01T15:37:23Z","1212334643","champion","227","twitter.com","95","Congrats to PG on getting hitched"])
- top_08.push(["355819","2008-11-06T16:17:06Z","1225988226","rjmetricsjake","226","themetricsystem.rjmetrics.com","27","Single? Lawn Signs Conquer the American Landscape"])
- top_08.push(["394609","2008-12-11T18:45:05Z","1229021105","flaneur","221","","196","I don\'t want to work very hard"])

- var top_07 = []
- top_07.push(["363","2007-02-21T19:22:09Z","1172085729","pg","263","news.ycombinator.com","1443","Please tell us what features you\'d like in news.ycombinator"])
- top_07.push(["48294","2007-08-30T17:04:50Z","1188493490","subhash","173","paulgraham.com","145","How Not to Die"])
- top_07.push(["27550","2007-06-12T19:00:13Z","1181674813","pg","170","ycombinator.com","42","Finally voting without refresh"])
- top_07.push(["189","2007-02-20T21:32:37Z","1172007157","pg","165","ycombinator.com","98","Why we made this site"])
- top_07.push(["42317","2007-08-14T18:41:57Z","1187116917","pg","153","ycombinator.com","76","Hacker News"])
- top_07.push(["45698","2007-08-23T16:40:37Z","1187887237","eposts","146","paulgraham.com","129","Holding a program in one\'s head"])
- top_07.push(["57195","2007-09-20T02:37:56Z","1190255876","amichail","125","post-gazette.com","33","CMU professor gives his last lesson on life"])
- top_07.push(["65327","2007-10-09T17:05:40Z","1191949540","palish","112","","36","Why to Apply to YCombinator"])
- top_07.push(["6668","2007-03-27T18:47:17Z","1175021237","palish","107","paulgraham.com","37","Why to Not Not Start a Startup"])
- top_07.push(["63009","2007-10-04T14:14:48Z","1191507288","byrneseyeview","107","paulgraham.com","160","The Future of Web Startups"])

- var top_06 = []
- top_06.push(["1","2006-10-09T18:21:51Z","1160418111","pg","57","ycombinator.com","18","Y Combinator"])
- top_06.push(["2","2006-10-09T18:30:28Z","1160418628","phyllis","15","paulgraham.com","1","A Student\'s Guide to Startups"])
- top_06.push(["27","2006-10-10T14:04:03Z","1160489043","spez","13","google.com","1","Google Acquires YouTube For $1.6B"])
- top_06.push(["57","2006-10-14T22:55:41Z","1160866541","adamsmith","12","rampantgames.com","2","Black triangle: a useful shorthand and metaphor"])
- top_06.push(["16","2006-10-09T19:51:43Z","1160423503","pg","12","feld.com","1","Feld: Question Regarding NDAs"])
- top_06.push(["24","2006-10-10T03:54:25Z","1160452465","starklysnarky","11","startup-review.com","1","MySpace: Not a purely viral start"])
- top_06.push(["48","2006-10-12T03:52:03Z","1160625123","zak","9","nytimes.com","1","The richest graduate student ever"])
- top_06.push(["58","2006-10-15T22:48:30Z","1160952510","frobnicate","7","nytimes.com","1","NYT: How Friendster Blew It"])
- top_06.push(["53","2006-10-12T22:38:42Z","1160692722","gaborcselle","7","rondam.blogspot.com","1","Top ten geek business myths"])
- top_06.push(["5","2006-10-09T18:51:04Z","1160419864","perler","7","techcrunch.com","1","Google YouTube acquisition announcement could come tonight"])

- var top_year = [top_06, top_07, top_08, top_09, top_10, top_11, top_12, top_13, top_14, top_15]


