#home.home
  .home__stars
    iframe(src='https://ghbtns.com/github-btn.html?user=arnauddri&repo=hn&type=star&count=true&size=large', frameborder='0', scrolling='0', width='160px', height='30px')
  .home__title.title
    .title__img
      img(src='./../static/img/yc.gif')
    .title__caption
      h1 HACKER NEWS:
      h1 Crunching the Numbers
  .page__controllers--next
    .next
      a
        span.glyphicon.glyphicon-chevron-right
