#home.home
  .home__title.title
    .title__img
      img(src='./../static/img/yc.gif')
    .title__caption
      h1 HACKER NEWS:
      h1 Crunching the Numbers
  .page__controllers--next
    .next
      a
        span.glyphicon.glyphicon-chevron-right
