#karma.karma
  .container
    .karma__title.title
      .title__caption
        h1 Karma repartition among active users
        i.info-button.fa.fa-2x.fa-info-circle
    .content
      .content__legend
        p.
          With 80% of users with a karma below 30, the chart suggests that most users are not very active and contribute rarely to the website... <a class='info-button'>Read More</a>
  .page__controllers--previous
    .previous
      a
        span.glyphicon.glyphicon-chevron-left
  .page__controllers--next
    .next
      a
        span.glyphicon.glyphicon-chevron-right
  .info
    .info__content
      .info__close
        i.fa.fa-lg.fa-close
      h3 Karma repartition among active users
      p.
        With 80% of users with a karma below 30, the chart suggests that most users are not very active and contribute rarely to the website. On the other hand, 2.5% of users have a karma above 1000: they account for most power users.
      p.
        This chart should however be taken with caution for 2 reasons. First, HN's API no longer returns the scores for comments which bias the analysis taking into account only points due to story posts. Second, story points generate karma with a higher variance with some posts bringing 500+ points at once to a single user.
