#karma.karma
  .container
    .karma__title.title
      .title__caption
        h1 Karma repartition among active users
    .content
      .content__legend
        p.
          The population of registered Hacker News users has grown considerably over time, as shown in the chart below. However, new user registrations flattened out around 10,000 new users per quarter in 2011 and appear... <a class='info-button'>Read More</a>
  .page__controllers--previous
    .previous
      a
        span.glyphicon.glyphicon-chevron-left
  .page__controllers--next
    .next
      a
        span.glyphicon.glyphicon-chevron-right
  .info
    .info__content
      .info__close
        i.fa.fa-lg.fa-close
      h3 HN's population is growing steadily
      p.
        The population of registered Hacker News users has grown considerably over time, as shown in the chart below. However, new user registrations flattened out around 10,000 new users per quarter in 2011 and appear to actually be slightly lower so far in 2012.
      p.
        I was surprised to see this decline in growth rate, which goes against the argument that Hacker News has gone too mainstream. To me, the recent flatness suggests a market saturation point. If HN’s userbase is bounded by the number of new “startup tech enthusiasts” arriving on the scene each year, its base may not be changing much after all.
