#users.users
  .container
    .users__title.title
      .title__caption
        h1 HN's Growth has slowed down in recent years
        i.info-button.fa.fa-2x.fa-info-circle
    .users__content.content
      .content__legend
        p.
          The population of registered Hacker News users has grown considerably up until 2013. The number of active users is now stagnating around 10,000 per quarters... <a class='info-button'>Read More</a>
      .chart-picker
          form
              label Show:
              input#submissions-chart(type='radio', name='radio-group', onclick='submissionChart()', checked='true')
              label(for='submissions-chart', onclick='submissionChart()') User&apos;s Submissions
              input#users-chart(type='radio', name='radio-group', onclick='activeUserChart()')
              label(for='users-chart', onclick='activeUserChart()') Active Users
    .info
      .info__content
        .info__close
          i.fa.fa-lg.fa-close
        h3 HN's Growth has slowed down in recent years
        p.
          The population of registered Hacker News users has grown considerably up until 2013. The number of active users is now stagnating around 10,000 per quarters. This doesn't account for passive visitors: people coming to the website without posting anything. They are probably far more numerous and my guess is that this number is still growing. This hypothesis cannot be confirmed based on public data as all we have access to are posts and comments.
        p.
          Going deeper in the split of comments/posts, we see that the number of story posts is now quite stable (since 2013). On the other hand, the number of comments is more volatile and its variation does not reflect explicitly the changes in the number of active users.
        p.
          This analysis does not take into account the number of upvotes which could probably tell a bit more about more passive users as I suppose a very large part of HN audience is made of users not posting anything but merely upvoting comments or posts.

  .page__controllers--previous
    .previous
      a
        span.glyphicon.glyphicon-chevron-left
  .page__controllers--next
    .next
      a
        span.glyphicon.glyphicon-chevron-right
