- var q1_2010 = [8254,4111,3709,3481,3330,3178,3050,2945,2833,2725,2608,2516,2409,2304,2193,2079,1948,1809,1642,1448,1205,614]
- var q2_2010 = [8118,3766,3330,3105,2930,2774,2663,2548,2439,2317,2218,2114,2015,1935,1841,1703,1573,1429,1266,1034,540]
- var q3_2010 = [9310,4248,3722,3467,3270,3090,2960,2832,2679,2545,2426,2306,2180,2059,1916,1777,1606,1401,1157,586]
- var q4_2010 = [10442,4658,4086,3771,3532,3353,3186,3023,2879,2735,2599,2460,2323,2162,2002,1827,1629,1314,659]
- var q1_2011 = [12613,5491,4795,4420,4128,3864,3617,3427,3237,3050,2833,2659,2499,2278,2044,1763,1461,695]
- var q2_2011 = [13155,5475,4661,4236,3919,3661,3415,3205,2992,2811,2619,2410,2226,1988,1752,1425,714]
- var q3_2011 = [17351,6279,4828,4365,3926,3625,3414,3183,2954,2768,2559,2335,2089,1828,1485,716]
- var q4_2011 = [16343,5453,4570,4043,3646,3410,3159,2915,2679,2448,2235,2002,1743,1408,667]
- var q1_2012 = [15949,6116,5054,4529,4162,3829,3540,3282,3007,2748,2460,2156,1757,842]
- var q2_2012 = [16466,6390,5340,4866,4432,4076,3764,3478,3165,2818,2436,1953,959]
- var q3_2012 = [13577,5525,4809,4333,3945,3602,3270,2974,2651,2305,1874,929]
- var q4_2012 = [13007,5710,4850,4342,3963,3547,3175,2800,2393,1900,890]
- var q1_2013 = [14968,6449,5476,4922,4342,3875,3407,2892,2284,1080]
- var q2_2013 = [14222,5804,4884,4190,3719,3256,2756,2166,1037]
- var q3_2013 = [13457,5215,4265,3709,3218,2688,2096,970]
- var q4_2013 = [14053,5235,4303,3655,3030,2298,1034]
- var q1_2014 = [12442,4869,3818,3115,2322,1027]
- var q2_2014 = [11680,4129,3113,2304,989]
- var q3_2014 = [12602,3662,2436,1022]
- var q4_2014 = [12657,3267,1221]
- var q1_2015 = [13491,1756]

- var quarters = [q1_2010,q2_2010,q3_2010,q4_2010,q1_2011,q2_2011,q3_2011,q4_2011,q1_2012,q2_2012,q3_2012,q4_2012,q1_2013,q2_2013,q3_2013,q4_2013,q1_2014,q2_2014,q3_2014,q1_2015,q2_2015]

