- var top_2015 = []
- top_2015.push(["eff.org","12096","167","72.4311"])
- top_2015.push(["blogs.msdn.com","4881","100","48.81"])
- top_2015.push(["priceonomics.com","2137","62","34.4677"])
- top_2015.push(["lwn.net","2167","64","33.8594"])
- top_2015.push(["google.com","3112","94","33.1064"])
- top_2015.push(["aws.amazon.com","2031","63","32.2381"])
- top_2015.push(["newyorker.com","5471","182","30.0604"])
- top_2015.push(["docs.google.com","2780","94","29.5745"])
- top_2015.push(["amazon.com","1893","65","29.1231"])
- top_2015.push(["firstlook.org","1907","69","27.6377"])

- var top_2014 = []
- top_2014.push(["blog.ycombinator.com","10925","67","163.06"])
- top_2014.push(["stripe.com","6964","51","136.549"])
- top_2014.push(["googleblog.blogspot.com","5028","68","73.9412"])
- top_2014.push(["paulgraham.com","5123","78","65.6795"])
- top_2014.push(["eff.org","16843","261","64.5326"])
- top_2014.push(["blog.mozilla.org","9163","164","55.872"])
- top_2014.push(["microsoft.com","3516","64","54.9375"])
- top_2014.push(["code.facebook.com","3413","64","53.3281"])
- top_2014.push(["developer.apple.com","5206","101","51.5446"])
- top_2014.push(["hacks.mozilla.org","5779","124","46.6048"])

- var top_2013 = []
- top_2013.push(["paulgraham.com","6179","79","78.2152"])
- top_2013.push(["googleblog.blogspot.com","5184","79","65.6203"])
- top_2013.push(["eff.org","15829","328","48.2591"])
- top_2013.push(["petitions.whitehouse.gov","6702","139","48.2158"])
- top_2013.push(["priceonomics.com","4213","90","46.8111"])
- top_2013.push(["gwern.net","3505","75","46.7333"])
- top_2013.push(["blog.mozilla.org","6392","137","46.6569"])
- top_2013.push(["marco.org","6639","147","45.1633"])
- top_2013.push(["penny-arcade.com","2792","63","44.3175"])
- top_2013.push(["aclu.org","2402","56","42.8929"])

- var top_2012 = []
- top_2012.push(["raganwald.posterous.com","5996","52","115.308"])
- top_2012.push(["paulgraham.com","7692","85","90.4941"])
- top_2012.push(["codinghorror.com","9892","124","79.7742"])
- top_2012.push(["jacquesmattheij.com","3759","51","73.7059"])
- top_2012.push(["dcurt.is","4784","69","69.3333"])
- top_2012.push(["blog.cloudflare.com","3031","62","48.8871"])
- top_2012.push(["groklaw.net","5321","113","47.0885"])
- top_2012.push(["37signals.com","10172","217","46.8756"])
- top_2012.push(["marco.org","7344","157","46.7771"])
- top_2012.push(["diegobasch.com","2379","52","45.75"])

- var top_2011 = []
- top_2011.push(["jacquesmattheij.com","9129","90","101.433"])
- top_2011.push(["paulgraham.com","4721","71","66.493"])
- top_2011.push(["gabrielweinberg.com","3517","54","65.1296"])
- top_2011.push(["apple.com","7423","118","62.9068"])
- top_2011.push(["blog.asmartbear.com","3290","58","56.7241"])
- top_2011.push(["codinghorror.com","4092","74","55.2973"])
- top_2011.push(["marco.org","7860","147","53.4694"])
- top_2011.push(["googleblog.blogspot.com","10119","233","43.4292"])
- top_2011.push(["pastebin.com","5611","133","42.188"])
- top_2011.push(["blog.jgc.org","3569","94","37.9681"])

- var top_2010 = []
- top_2010.push(["sheddingbikes.com","4799","57","84.193"])
- top_2010.push(["paulgraham.com","5905","76","77.6974"])
- top_2010.push(["jacquesmattheij.com","3658","68","53.7941"])
- top_2010.push(["gabrielweinberg.com","5597","105","53.3048"])
- top_2010.push(["daringfireball.net","7152","136","52.5882"])
- top_2010.push(["blog.asmartbear.com","3291","64","51.4219"])
- top_2010.push(["ryanwaggoner.com","3049","60","50.8167"])
- top_2010.push(["apple.com","4435","106","41.8396"])
- top_2010.push(["catonmat.net","2132","53","40.2264"])
- top_2010.push(["codinghorror.com","1990","52","38.2692"])

- var top_2009 = []
- top_2009.push(["inc.com","1586","66","24.0303"])
- top_2009.push(["codinghorror.com","1920","83","23.1325"])
- top_2009.push(["github.com","3119","135","23.1037"])
- top_2009.push(["37signals.com","2340","115","20.3478"])
- top_2009.push(["torrentfreak.com","1290","68","18.9706"])
- top_2009.push(["groups.google.com","1495","81","18.4568"])
- top_2009.push(["newyorker.com","931","51","18.2549"])
- top_2009.push(["code.google.com","2123","139","15.2734"])
- top_2009.push(["boston.com","1305","96","13.5938"])
- top_2009.push(["wired.com","4334","320","13.5437"])

- var top_2008 = []
- top_2008.push(["paulgraham.com","3959","67","59.0896"])
- top_2008.push(["mattmaroon.com","1751","58","30.1897"])
- top_2008.push(["catonmat.net","1307","59","22.1525"])
- top_2008.push(["weblog.raganwald.com","1034","57","18.1404"])
- top_2008.push(["codinghorror.com","2549","142","17.9507"])
- top_2008.push(["37signals.com","4282","256","16.7266"])
- top_2008.push(["theatlantic.com","872","54","16.1481"])
- top_2008.push(["daringfireball.net","849","56","15.1607"])
- top_2008.push(["blogmaverick.com","947","66","14.3485"])
- top_2008.push(["inc.com","747","54","13.8333"])

- var top_2007 = []
- top_2007.push(["paulgraham.com","1510","53","28.4906"])
- top_2007.push(["blog.pmarca.com","953","57","16.7193"])
- top_2007.push(["blog.guykawasaki.com","501","53","9.45283"])
- top_2007.push(["codinghorror.com","454","59","7.69492"])
- top_2007.push(["nytimes.com","1769","286","6.18531"])
- top_2007.push(["37signals.com","381","69","5.52174"])
- top_2007.push(["news.bbc.co.uk","432","84","5.14286"])
- top_2007.push(["venturebeat.com","699","140","4.99286"])
- top_2007.push(["youtube.com","395","81","4.87654"])
- top_2007.push(["techcrunch.com","3074","641","4.79563"])


- var top_year = [top_2007, top_2008, top_2009, top_2010, top_2011, top_2012, top_2013, top_2014, top_2015]


