.end
  &
    height 100%
  &__title
    &
      top 50%
      text-align center
      position relative
      margin-top -90px
    .title
      &__caption,
      &__img
        display inline-block
      &__caption
        &
          padding-top 14px
        h1
          margin-top 2px
          text-align center
        h1:last-child
          color greyClr
        h3
          font-family 'Proxima-Bold'
          text-align center
          color #7f8c8d
          font-size 18px
          text-align center
          line-height 16px
          margin-bottom 20px
          margin-top 10px
      &__img
        img
          width 100px
          margin-right 60px
          margin-top -66px
  .share
    a
      display inline-block
      margin-right 20px
      padding-top 10px
      background-color #F08641
      width 60px
      height 60px
      border-radius 50%
      transition all ease 0.4s
      vertical-align top
    a:hover
      opacity 0.8
      text-decoration none
    a:first-child
      margin-left 20px
    .fa
      color white
    h3
      color white
      margin-top 14px
      font-size 44px
