.home
  &
    height 100%
  &__stars
    position absolute
    right 10px
    padding-top 30px
  &__title
    &
      top 50%
      margin-top -60px
      text-align center
      position relative
    .title
      &
        margin-top -50px
        position relative
      &__caption,
      &__img
        display inline-block
      &__caption
        &
          padding-top 14px
        h1
          margin-top 2px
          text-align left
        h1:last-child
          color greyClr
      &__img
        img
          width 100px
          margin-right 60px
          margin-top -66px
